footer
            nav
                img(src="imgs/LOGO.png", alt="狸小路 LOGO", class="logo")       
                div(class="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 連絡我們
                div(id="copy") Copyright &copy; 2019 狸小路 All right reserved.
